.footer__column-link {
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  transition: opacity .3s;
}

.footer__column-link:hover {
  opacity: .5;
}
