.header {
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  /* Ниже ограничения на высоту для секции от авторов Практикума */
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}
